@charset "utf-8";
@import url(//fonts.googleapis.com/css?family=Oswald:400);
* {
  margin: 0;
  padding: 0;
}
/* CSS Document */

	body {
	background: transparent url(../imagens/body_bg1a.png) repeat-x top;
	margin: 0 auto; 
	}	

	.principal_head {background: transparent url(../imagens/body_bg1a.png) repeat-x top;}
	
	/* HEADER */	
	#header {
		/*background: url(../imagens/body_bg2.png) no-repeat scroll center top transparent;*/
		width: 100%;
		height:80px;
		margin: 0 auto;
	}		
					
	#logoportal {
		background: transparent url(../imagens/logo.png) top left no-repeat;
		width: 210px;
		height: 71px;
		margin: 0 0 0 11px;
		display: inline; /* Pro IE 6 */
		float: left; 
		}	
	#logoportal a {
		display: block;
		width: 210px;
		height: 71px;
		text-indent: -2000px;
		overflow: hidden; 
		display:block;
		font-size: 0px;
		line-height: 0px;
		}	
	#topo {
		height: 20px;
		float: left;
		margin-top: 0px;
		padding-right: 16px;
		}	
	div#topo_menu ul {
		float: right;
		list-style-type:none;
		margin: 5px 0 0 0;
		}	
	div#topo_menu ul li{	
		display:inline;
		color:#fff;
		font: bold 0.7em Arial, Helvetica, Verdana, sans-serif;
		text-transform: uppercase;
		letter-spacing:-1px;	
		}	
	div#topo_menu ul li.barra {
		margin-left:4px;
		margin-right:4px;	
		}	
	div#topo_menu ul li a{
		color:#fff;	
		text-decoration:none;		
		}
	div#topo_menu ul li a:hover{
		text-decoration:underline;		
		}
	#topo_submenu {
		float:left;
		}			
	div#topo_submenu ul{
		float: left;
		padding:0px;
		*padding:5px 0 5px 0;
		_padding:5px 0 5px 0;
		margin: 48px 0 0 10px;
		*margin: 42px 0 0 10px;
		_margin: 42px 0 0 10px;
		}
	div#topo_submenu ul li{
		color: #b0c1cf;
		display:inline !important;
		margin:0 9px 0 9px;	
		}	
	div#topo_submenu a{
		font-size:.6em;
		padding: 3px 2px 0px 23px; 
		*padding: 3px 2px 0px 23px;
		_padding: 3px 2px 0px 23px;
		text-decoration:none;
		}
		
	#topo_meio {
		986
		width: 100%;
		_width: 988px;
		height: 220px; 
		*height: 236px;
		_height: 100px !important;
		clear: both;
		margin: 0 auto;
		}
		
	.aumentafonte {background: url(../imagens/ico_aumentar.png) no-repeat center center; width:25px; height:15px; display:block;}
	.diminuifonte {background: url(../imagens/ico_diminuir.png) no-repeat center center; width:20px; height:17px; display:block; }
	.fontenormal {background: url(../imagens/ico_normal.png) no-repeat center center; width:14px; height:15px; display:block;}
	.contraste {background: url(../imagens/ico_contraste.png) no-repeat center center; width:19px; height:15px; display:block;}
	
	/* ESTRUTURA */
	
	#conteudo {
		width: 100%;
		margin: 0 auto;	
		min-height:20em;	
		_height:20em;
		}
	#conteudo_meio {
		font: bold .8em Arial, Helvetica, Verdana, sans-serif;
		color: #8ea7bb;
		margin: 0 50px 0;
		}	
		
		

	/*  FOOTER */
	
	
	#bg_footer{
		background: url(../imagens/body_bg4.gif) no-repeat;
		width: 986px;
		height:95px;
		margin:0 auto;
	}
		
	#copyright {
		background: url(../imagens/copyright.png) no-repeat;
		background-position: 0 8px;
		width:88px;
		height:31px;
		min-height: 2em;	
		clear: both;
		display:block;
		margin:0 auto;
		padding:3px;
	}
	#copyright a {height: 31px; display:block;}			
	#copyright_txt{
		text-align:center;
		margin:5px 0;
	}
	#copyright_txt a {
		font: normal .7em Arial, Helvetica, Verdana, sans-serif;
		color:#fff;
		text-decoration:none;
	}
	#copyright_txt a:visited {
		color:#fff;
		text-decoration:none;
	}
	#copyright_txt a:hover {
		color:#fff;
		text-decoration:underline;
	}
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

.chart {
  position: absolute;
  width: 450px;
  height: 450px;
  top: 50%;
  left: 50%;
  margin: -225px 0 0 -225px;
}
.doughnutTip {
  position: absolute;
  min-width: 30px;
  max-width: 300px;
  padding: 5px 15px;
  border-radius: 1px;
  background: rgba(0,0,0,.8);
  color: #ddd;
  font-size: 17px;
  text-shadow: 0 1px 0 #000;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .06em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-transform: all .3s;
     -moz-transform: all .3s;
      -ms-transform: all .3s;
       -o-transform: all .3s;
          transform: all .3s;
  pointer-events: none;
}
.doughnutTip:after {
  position: absolute;
  left: 50%;
  bottom: -6px;
  content: "";
  height: 0;
  margin: 0 0 0 -6px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 6px solid rgba(0,0,0,.8);
  line-height: 0;
}
.doughnutSummary {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #d5d5d5;
  text-align: center;
  text-shadow: 0 -1px 0 #111;
  cursor: default;
}
.doughnutSummaryTitle {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -27%;
  font-size: 22px;
  letter-spacing: .06em;
}
.doughnutSummaryNumber {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -15%;
  font-size: 55px;
}
g path:hover { opacity: .65; }
.modalDialog {
 position: fixed;
 font-family: Arial, Helvetica, sans-serif;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 background: rgba(0,0,0,0.8);
 z-index: 99999;
 opacity:0;
 -webkit-transition: opacity 400ms ease-in;
 -moz-transition: opacity 400ms ease-in;
 transition: opacity 400ms ease-in;
 pointer-events: none;
}

.modalDialog:target {
 opacity:1;
 pointer-events: auto;
}

.modalDialog > div {
 width: 95%;
 position: relative;
 margin: 10% auto;
 padding: 5px 20px 13px 20px;
 border-radius: 10px;
 background: #fff;
 background: -moz-linear-gradient(#fff, #999);
 background: -webkit-linear-gradient(#fff, #999);
 background: -o-linear-gradient(#fff, #999);
}

.close {
 background: #606061;
 color: #FFFFFF;
 line-height: 25px;
 position: absolute;
 right: -12px;
 text-align: center;
 top: -10px;
 width: 24px;
 text-decoration: none;
 font-weight: bold;
 -webkit-border-radius: 12px;
 -moz-border-radius: 12px;
 border-radius: 12px;
 -moz-box-shadow: 1px 1px 3px #000;
 -webkit-box-shadow: 1px 1px 3px #000;
 box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }	
